{% extends 'base.html.twig' %}

{% block title %}SF Basket : Liste des produits{% endblock %}

{% block body %}
    <div class="row"    >
        {% for product in products %}
            {% include "product/_list_product.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}